*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
    
}

.header_container {
    display: flex;
    flex-direction: row;
    background: #00000066 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF33;
    height: 90px;
}

.share_icon_main_section{
    margin-top: 27px;
    margin-left: 141px;
    width: 31px;
    height: 35px;
    z-index: 1;
    color: white;
    opacity: 1;
}
.logo{
    
    margin-left: 10px;
    opacity: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    font: normal normal bold 35px/47px Nunito Sans;
}
.first_word{
    color: #FF0000;
    text-decoration: none;
}
.second_word{
    padding-left: 8px;
    color: #FFF;
    z-index: 1;
    text-decoration: none;

}
.header_nav {
    display: flex;
    flex-direction: row;
    z-index: 0;
    margin-left: 550px;
    margin-top: 33px;
    height: 22px;
    list-style: none;
    font: normal normal bold 16px/22px Nunito Sans;
    color: #FFF;
}
li{
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
.container_main_section{
    height: 900px; 
}
.main_section_picture {
    height: 900px;
    width: auto;
    margin-top: -90px;
    opacity: 0.3;
}

h1{
    margin-top: -600px;
    display: flex;
    justify-content: center;
    height: 123px;
    text-align: left;
    font: normal normal 900 90px/90px Nunito Sans;
    letter-spacing: 0;
    color: #FFF;
    text-shadow: 0px 3px 6px #00000040;
    z-index: 1;
    
}

.paragraph_main_section{
    display: flex;
    justify-content: center;
    width: 1046px;
    height: 44px;
    text-align: center;
    letter-spacing: 0;
    opacity: 1;
    font: normal normal bold 16px/22px Nunito Sans;
    color: #FFF;
    text-shadow: 0px 3px 6px #00000040;
    margin-left: 160px;
}

.btns_main_section{
    display: flex;
    justify-content: center;
}